body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #fff;
}

ul, ol {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

h1, h2, h3, h4, h5, h6, p {
    margin: 0;
}

a {
    text-decoration: none;
}

.container {
max-width: 1158px;
padding: 0 15px;
margin: 0 auto;

}

.page-header {
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
        
}

.header-container {
    display: flex;
    align-items: center;
}

.page-header-nav {
    display: flex;
    align-items: center;
}

.logo {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #4d5ae5;

        background-color: #fff;
}

.header-logo {
    padding: 24px 0;
    margin-right: 76px;
}

.logo-accent {
    font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2e2f42;

        background-color: #fff;
}

.nav-list { 
    display: flex;
    align-items: center;
    gap: 40px;
}

.nav-link {
    display: block;
    padding: 24px 0;
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2e2f42;

        transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link.current {
    position: relative;
}

.nav-link.current::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -1px;
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404bbf;
}


.nav-link:hover,
.nav-link:focus,
.nav-link.current {
    color: #404bbf;
}

.contacts {
    margin-left: auto;
font-style: normal;
}

.contacts-list {
    display: flex;
    align-items: center;
    gap: 40px;
}

.contacts-link {
    display: block;
    padding: 24px 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;

    transition-property: color;
        transition-duration: 250ms;
        transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
}

.contacts-link:hover,
.contacts-link:focus {
    color: #404bbf;
}

.section-hero {
        background-color: #2e2f42;
        padding: 0;
        margin: 0;
        padding: 188px 0;
        margin: 0 auto; 
        background-image: linear-gradient(rgba(46, 47, 66, 0.7),
         rgba(46, 47, 66, 0.7)),
          url(../images/people-office.jpg);
            background-repeat: no-repeat;
            background-position: center;
            background-size: cover;
            max-width: 1440px;
            
            
}

.hero-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    gap: 48px;

   
}


.title-hero {
   
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #fff;
    max-width: 496px;
}
    

.btn-hero {
    display: inline-block;
    text-align: center;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #fff;
    background-color: #4d5ae5;
    cursor: pointer;
    border-radius: 4px;
    border: none;
    white-space: nowrap;
    padding: 16px 32px;
    height: 56px;
    min-width: 169px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.btn-hero:hover,
.btn-hero:focus {
        color: #404bbf;
        background-color: #404BBF;
}

.section-benefits {
    padding: 0;
    margin: 0;
    padding: 120px 0;
}

.benefits-container {
    align-items: center;
    margin: 0 auto;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.list-benefits {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    
}

.list-benefits-item {
    display: block;;
    width: 264px;
    width: calc((100% - 72px) / 4);
    
}

.icon {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
    border: 1px solid #8e8f99;
    background-color: #F4F4FD;
    border-radius: 4px;
    padding: 24px 100px;
    margin-bottom: 8px;
}

.list-benefits-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.list-benefits-text {

    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.section-team {
    padding: 0;
    margin: 0;
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-container {
    align-items: center;
    margin: 0 auto;
}

.title-team {
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    text-transform: capitalize;
    margin-bottom: 72px;
}

.list-team {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 24px;
    background-color: #F4F4FD;
   

}

.list-team-item {
    display: block;
    background-color: #FFFFFF;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    border-radius: 0 0 4px 4px;
    background: #fff;
    width: 264px;
    width: calc((100% - 72px) / 4);
}


.list-team-pic {
    display: block;
    width: 264px;
    height: 260px;
    background-color: #FFFFFF;
}

.member-container {
    align-items: center;
    padding: 32px 0 32px;
    
    

}

.list-team-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
    margin-bottom: 8px;
    
    
}

.list-team-text {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #434455;
    
}

.list-social-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8px;
    gap: 24px;
    
    
}

.icon-list {
    
    width: 40px;
    height: 40px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    
        
        
    
}

.icon-link {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    cursor: pointer;
    background-color: #4d5ae5;
    border-radius: 50%;
    overflow: hidden;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
    

.icon-link:hover,
.icon-link:focus {
    background-color: #404bbf;
}

.icon-social {
    fill: #f4f4fd;
    
    

    
    
}



.section-portfolio {
padding: 0;
margin: 0;
padding: 120px 0 120px 0;
}

.portfolio-container {
    align-items: center;
    margin: 0 auto;
}

.title-section-portfolio {
        font-weight: 500;
        font-size: 36px;
        line-height: 1.11;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
        text-transform: capitalize;
        margin-bottom: 72px;
        
}

.list-section-portfolio {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    gap: 48px 24px;
    margin: 0 auto;

}

.list-portfolio-item {
    display: block;
    border: 1px solid #e7e9fc;
    width: 360px;
    width: calc((100% - 48px) / 3);
     cursor: pointer;
     
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    
    }

    .list-portfolio-item:hover {
        box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
                0px 1px 1px rgba(46, 47, 66, 0.16),
                0px 2px 1px rgba(46, 47, 66, 0.08);
    }



    .thumb-portfolio {
        position: relative;
        overflow: hidden;
    }

.overlay-text {
    
    padding: 40px 32px;
    font-size: 16px;
    line-height: 1.5;
        letter-spacing: 0.02em;
        position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    color: #f4f4fd;
    transform: translateY(100%);
    transition-property: transform;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
    }

.list-portfolio-item:hover .overlay-text {
    transform: translateY(0%);
}




.list-portfolio-pic {
    display: block;
    width: 360px;
    height: 300px;
   
}

.container-works {
    padding: 32px 16px;
    border: 1px solid #e7e9fc;
    border-top: none;
}

.portfolio-subtitle {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2e2f42;
    margin-bottom: 8px;
}

.portfolio-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}



.footer-social {
    display: flex;
    align-items: baseline;
    
}


.page-footer {
    padding: 100px 0 100px;
    background-color: #2e2f42;
}

.container-footer {
    
    margin-right: 120px;
}


.logo-footer {
    display: inline-block;
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    background-color: #2e2f42;
    margin-bottom: 16px;
}

.footer-part-logo {
        font-family: "Raleway", sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #f4f4fd;
}

.text-footer {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #f4f4fd;
        width: 264px;
}



.social-title {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #FFF;
        margin-bottom: 16px;       
}

.social-media-list {
    display: flex;
    gap: 16px;
}

.social-media-item {
    width: 40px;
    height: 40px;
   
}

.social-media-link {
    width: 100%;
    height: 100%;
    background-color: #4d5ae5;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
   transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-media-link:hover,
 .social-media-link:focus {
    background-color: #31d0aa;
}

.media-icon {
    fill: #f4f4fd;
}






